$primary-color: #36C0FF;
$secondary-color: #DEF3FD;
$subsidiary-color: #F3F3F3;
$hight-light-color: #FE9F13;

$background-color: #F5F5F5;
$border-color-normal: #ddd; 
$border-color-light: #eee;

$text-time:#ccc;
$text-primary: #444;
$text-subsidiary: #838990;

$bubble-size: 9px 14px;
$bubble-radius: 4px;